[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipykernel = "*"
pypiwin32 = "*"
jupyter-dash = "*"

[packages]
pandas = "*"
dash = "*"
matplotlib = "*"
ipykernel = "*"
jupyter = "*"
notebook = "*"
scipy = "*"
tqdm = "*"
traitlets = "==4.3.3"
lifelines = "*"
xlrd = "*"
dash-bootstrap-components = "*"
celery = "*"

[requires]
python_version = "*"
